body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.notRegisteredDiv{
    margin: 48px 44px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#warningLine1{
    padding-bottom: 8px;
    font-size: 28px;
    color: #103F4F;
}

#warningLine2{
    font-size: 20px;
    color: #2786A7;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 24px;
    height: 5em;
    background-color: transparent;
}

#headerLeftDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.IMGlogoDiv{
    padding-top: 8px;
}

.IMGlogo{
    height: 56px;
    width: (1.226*56)px;
}

.headerText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 12px;
    color: #0D3340;
}

#headerTextIMG{
    font-size: 32px;
    font-weight: 500;
}

#headerTextIITR{
    font-size: 20px;
    font-weight: 300;
    padding-top: 4px;
}

.userInfo{
    display: flex;
    flex-direction: row;
    padding-top: 4px;
}

.userInfoText{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 8px;
}

#userInfoTextUsername{
    color: #0D3340;
    font-size: 18px;
}

#userInfoTextUserpart{
    color: #103F4F;
    visibility: 0.8;
    font-size: 14px;
    padding-top: px;
}

.headerButtons{
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
}

.headerButtonLogout{
    background-color:#2786A7;
    color: white;
    width: 40%;
    height: 24px;
    border:none;
    border-radius: 4px;
    font-size: 14px;
}

.headerButtonLogout:hover{
    background-color: #237895;
}

.underHeaderDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 10em;
    font-size: 18px;
    padding: 40px 56px 12px 56px;
    color:white;
    background-image: linear-gradient(white, #103F4F);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.pageTitleDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 18.5px;
    margin-left: 6px;
    color: #103F4F;
}

.pageLinksDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pageLink{
    height: 24px;
    margin-right: 32px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

.pageLink:hover{
    background-color: #103F4F;
}

.allAssignments{
    display: flex;
    flex-direction: row;
    margin: 28px 0px;
}

.assignmentOverviewDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-right: 12px;
    padding: 16px 32px;
    border-radius: 24px;
    background-image: linear-gradient(to bottom right, #103F4F, #1A6882);
    height: 15em;
}

#assignmentNamesDiv{
    justify-content: flex-start;
    width: 36em;
}

.assignmentOverviewHeading{
    font-size: 20px;
    color: white;
    margin-bottom: 16px;
}

.assignmentNames{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#oneAssignmentName{
    padding-bottom: 8px;
    font-size: 16px;
}

#completedAssignmentsDiv{
    justify-content: space-between;
    width: 18em;
}

.assignmentOverviewValue{
    color: #D6F5FF;
}

#completedAssignmentsScore{
    font-size: 36px;
    font-weight: 600;
}

#completedAssignmentsDesc{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.innerDivCompletedAssignmentDesc{
    width: 100px;
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slashCompletedAssignmentDesc{
    font-size: 28px;
}

#piechartDiv{
    width: 38em;
    background-color: transparent;
    border-radius: 24px;
    margin-right: 0px;
}

#piechart{
    background-image: linear-gradient(to bottom right, #2584A5,#30AED8);
    border-radius: 16px;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 44px;
    margin-top: 24px;
}

.sectionHeading{
    font-size: 28px;
    color: #0D3340;
}

.assignmentStatusDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.assignmentBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#B0ECFF, #CDF3FF);
    width: 100%;
    min-height: 6em;
    margin-top: 16px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.assignmentData{
    width: 30%;
    background-color: #CDF3FF;
    border: 2px solid #93E1FA;
    margin: 0px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 72px;
    border-radius: 16px;
    font-size: 19px;
    color: #0D3340;
}

.viewButton{
    border: none;
    background-color: #2786A7;
    color: white;
    font-size: 17px;
    height: 32px;
    width: 64px;
    border-radius: 8px;
}

.viewButton:hover{
    background-color: #237895;
}

.assignmentStatusLine{
    height: 1px;
    width: 95%;
    background-color: black;
}

.assignmentDesc{
    width:100%;
    display: none;
    overflow: hidden;
    transition-duration: 1s;
}

.assignmentDescData{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-image: linear-gradient(#CDF3FF,#E2F8FF);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
    padding: 12px 0px 8px 0px;
    min-height: 6em;
}

.assignmentDataHidden{
    min-height: 165px;
    justify-content: flex-start;
}

.assignmentDataHeading{
    padding: 4px 0px;
    color: #103F4F;
}

.assignmentDataValue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    color: #2786A7;
    font-size: 18px;
    padding: 0px 8px;
}

.updateAssignmentButtonDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 24px;
}

.updateAssignmentButton{
    font-size: 16px;
    color: white;
    background-color: #2B9DC5;
    padding: 8px 8px;
    border: none;
    border-radius: 8px;
}

.updateAssignmentButton:hover{
    background-color: #2FAAD5;
}

.updateAssignmentButtonIteration{
    margin-right: 8px;
}

.assignmentDataInvisible{
    display: none;
}

.assignmentDataCurrentAssignment{
    width: 23%;
}

/* .addNewStudentButtonDiv{
    margin: 28px 0px;
    display: flex;
    justify-content: center;
    padding: 8px 0px;
}

.addNewStudentButton{
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    background-color: #2786A7;
    height: 48px;
    width: 300px;
}

.addNewStudentButton:hover {
    background-color: #237895;
} */

/* .addStudentDiv{
    display: flex;
    flex-direction: column;
    display: none;
    overflow: hidden;
}

.addStudentFormDiv{
    margin: 0px 56px;
    border: 1px solid #2FAAD5;
    border-radius: 24px;
    background-image: linear-gradient(to bottom right, #CAF2FF,#EEFBFF);
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.addStudentForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.addStudentFormSectionHeading{
    font-size: 24px;
    color:#103F4F;
    margin: 12px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .addStudentFormStudentInfoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 18px;
    width: 100%;
    color: #1A6882;
}

.addStudentFormInput{
    width: 85%;
    margin-top: 6px;
    padding: 4px 8px;
    border: 0.7px solid #289DC3;
    border-top: 0.2px solid white;
    border-radius: 8px;
    font-size: 16px;
    color: #103F4F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: width 0.4s ease-in-out;
}

#addStudentFormEmailInput{
    width: 20%;
}

#addStudentFormEmailInput:focus{
    width: 22%;
    border: 1.2px solid #289DC3;
    outline: none;
}

.addStudentFormInput:focus{
    width: 90%;
    border: 1.2px solid #289DC3;
    outline:none;
} */

/* .addStudentFormSectionHeadingDesc{
    margin-top: 4px;
    font-size: 16px;
    color: #1A6882;
    opacity: 0.7;
}

.addStudentFormAssignmentDiv{
    width: 100%;
}

.addStudentFormAssignmentDiv{
    display: flex;
    flex-direction: column;
}

.addStudentFormOneAssignment{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 44px ;
    border: 2px solid rgba(147, 225, 250, 0.7);
    border-radius: 16px;
    padding: 8px 16px;
    height: 12em;
}

.addStudentFormAssignmentName{
    font-size: 20px;
    margin-bottom: 12px;
    color:#103F4F;
}

.addStudentFormAssignmentDataDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.addStudentFormAssignmentData{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 12px 0px;
}

.addStudentFormAssignmentDataPair{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 18px;
    color: #1A6882;
}

::placeholder{
    color:#1A6882;
    opacity: 0.5;
}

.formSubmit{
    margin-top: 10px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type=submit]{
    height: 40px;
    width: 100px;
    font-size: 18px;
    color: white;
    background-color: #56D6FF;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover{
    background-color:#2FAAD5;
}

.allStudentsDiv{
    margin: 28px 44px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */

/* .studentInfoDiv{
    margin: 12px 16px;
    border: 1.5px solid #2786A7;
    height: 270px;
    width: 225px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-image: linear-gradient(to bottom right, #E3F8FF,white);
}

.studentInfoImage{
    height: 140px;
    width:120px;
    background-color: #2B9DC5;
    border-radius: 8px;
    margin-top: 16px;
}

.studentInfoUsername{
    color:#103F4F;
    font-size: 20px;
    padding: 8px 0px 4px 0px;
}

.studentInfoUseremail{
    color: #237895;
    font-size: 18px;
    opacity: 0.8;
    padding-bottom: 16px;
} */

/* .removeStudentButtonDiv{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.removeStudentButton{
    border: none;
    border-radius: 4px;
    background-color: #B83D3D;
    opacity: 0.8;
    font-size: 16px;
    color: white;
    height: 28px;
    width: 84px;
}

.removeStudentButton:hover{
    opacity: 1;
} */

a {
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.completeStudentStatus{
    margin: 8px 0px;
    background-image: linear-gradient(#93E1FA,#BDEEFD);
    border-radius: 24px;
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none;
    overflow: hidden;
}

.studentAssignmentDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 24px 0px;
}

.studentAssignmentDiv1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.studentAssignmentData{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid #ECFBFF;
    border-radius: 16px;
    width: 18%;
    margin: 0px 6px;
    flex-grow: 1;
    min-height: 100px;
}

.studentAssignmentDataHeading{
    font-size: 19px;
    color: #103F4F;
    padding: 4px 0px;
}

.studentAssignmentDataValue{
    font-size: 18px;
    color: #1A6882;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#studentAssignmentDataComment{
    min-height: 60px;
    margin: 8px 6px;
}

.iterationLinkDiv{
    background-color: #E2F8FF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0px 6px 0px;
    min-height: 60px;
}

.iterationLinkHeading{
    padding: 4px 0px;
    color: #103F4F;
    font-size: 19px;
}

.iterationLinkValue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    color: #2786A7;
    font-size: 18px;
    margin-bottom: 8px;
}

.commentButton{
    margin: 0px 6px;
}

/* .updateAssignmentButtonDiv{
    width: 100%;
    margin: 8px 0px;
} */

.addLinkFormDiv{
    margin: 8px 24px 16px 24px;
    display: none;
    overflow: hidden;
    width: 100%;
}

.linkForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    border:2px solid #93E1FA;
    background-color: #CDF3FF;
    margin: 0px 24px;
    padding: 8px 0px 8px 0px;
}

.assignmentLinkLabel{
    font-size: 17px;
    color:#2786A7;
    margin-bottom: 4px;
}

.linkInput{
    width: 80%;
    margin: 6px 0px 12px 0px;
    padding: 4px 8px;
    border: 0.7px solid #289DC3;
    border-top: 0.2px solid white;
    border-radius: 8px;
    font-size: 14px;
    color: #103F4F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: width 0.4s ease-in-out;
}

.linkInput:focus{
    width: 85%;
    border: 1.2px solid #289DC3;
    outline: none;
}

input[type=submit]{
    height: 32px;
    width: 76px;
    font-size: 18px;
    color: white;
    /* background-color: #56D6FF; */
    /* background-color: #8CE3FF; */
    background-color: #76DEFF;
    border: none;
    border-radius: 8px;
}

input[type=submit]:hover{
    background-color: #56D6FF;
}

.aLink{
    color:#2786A7;
    font-size: 17px;
}

.iterationCommentDiv{
    background-color: #E2F8FF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0px 6px 0px;
    min-height: 60px;
    display: none;
    overflow: hidden;
}

.commentHeading{
    padding: 4px 0px;
    color: #103F4F;
    font-size: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.commentFormDiv{
    margin: 8px 24px 16px 24px;
    /* width: 100%; */
}

.commentForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    border:2px solid #93E1FA;
    background-color: #CDF3FF;
    /* margin: 0px 24px; */
    padding: 8px 0px 8px 0px;
}






